@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.nav-link,
.navbar-brand {
  color: #ffffff !important;
  text-decoration: none;
  font-weight: bold !important;
}

nav .navbar {
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
  list-style: none;
  margin: 0px 65px;
}

#dados {
  margin-top: 40px;
  background-color: #ffffff;
}

#dados .card {
  border-radius: 20px;
  margin-top: 15px;
  text-align: center;
  /* box-shadow: 1px -1px; */
}

.card-body h3 {
  color: #e92f48;
  font-weight: bolder;
  font-size: xx-large;

}

.grafico h5 {
  color: #ffffff;
}

.carousel{
  margin-top: 8%;
}

#cards-cash{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#cards-cash > .card {
  display: flex !important;
  width: 70%;
  flex-direction: row;
  position: relative;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
}

#cards-cash > .card > .sing {
  color: #ffffff;
  background-color: #e92f48;
  padding: 5px 20px;
  border-radius: 25px;
  position: absolute;
  left: -40px;
  top: 15px;
  /* display: flex;
  justify-content: center; */
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

#cards-cash > .card > .sing > h2 {
  border: #ffffff solid 3px;
  padding: 0 10px;
  border-radius: 50%;
  margin: 0;
  
}

@media screen and (min-width: 768px) and (max-width: 991px) { 
  #cards-cash > .card > .sing {
    padding: 5px 20px;
    border-radius: 25px;
    position: absolute;
    left: -65px;
    top: 15px;

  }
}
