body,html {
	height: 100%;
	font-family: Inter,sans-serif;
}

.text-divider {
	position: relative;
	display: flex;
	align-items: center;
	line-height: 14px;
	margin: 30px 0;
}

.text-divider:before {
	margin-right: 10px;
}

.text-divider:after,.text-divider:before {
	content: "";
	display: block;
	height: 1px;
	flex: 1;
	background: #b3b3b3;
}

.text-divider:after {
	margin-left: 10px;
}

.btn {
	font-size: 15px;
	width: auto;
	display: inline-flex;
	align-items: center;
	padding: 15px 30px;
	line-height: 14px;
	border-radius: .5rem;
}


.btn.btn-block {
	width: 100%;
	justify-content: center;
}

.btn.btn-white {
	background: #fff;
	color: #000;
}

.form-control {
	font-size: 14px;
	transition: all .3s;
}

.form-wrapper {
	padding: 30px 20px;
}

.form-wrapper .container,.form-wrapper .container-fluid {
	min-height: 100%;
}

@media (max-width:500px) {
	.form-wrapper {
		display: block!important;
		padding: 20px 10px!important;
	}
}

body,html {
    background: linear-gradient(130.2deg, rgba(210, 29, 62, 0.85) 40.36%, rgba(219, 26, 61, 0.85) 76.9%), linear-gradient(0deg, rgba(238, 51, 84, 0.85), rgba(238, 51, 84, 0.85)), linear-gradient(0deg, rgba(238, 51, 84, 0.85), rgba(238, 51, 84, 0.85)), rgba(238, 51, 84, 0.85) no-repeat;
	background-attachment: fixed;
}

.form-wrapper {
	display: flex;
	align-items: center;
}

.form-wrapper,.form-wrapper .container {
	min-height: 100%;
}

.btn-primary {
    background: #EB4335 !important;
    color: #ffffff;
	border: none;
	border-radius: 10px!important;
    transition: 0.2s;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.113);
}

.btn-primary:hover {
    background: #b0261a !important;
  }

img{
    width: 170px;    
}

.card {
	border: none;
	width: 500px;
	margin: auto;
	border-radius: 20px;
	box-shadow: 0 6px 15px rgba(0,0,0,.16);
}

.card .card-body {
	padding: 30px;
}
.form-group .form-icon-wrapper {
	position: relative;
}

.form-control {
	height: auto;
	padding: 13px 20px 13px 45px;
	border: none;
    border-bottom: #E92F48 solid 5px;
    border-radius: 5px !important;
    background: #F7F7F7;
}

label {
    font-size: 18px !important;
    top: -3px !important;

}
.form-control{
    font-weight: 600;
    font-size: 15px;
}
.form-control:focus {
    background: #F7F7F7;
    border-color: #E92F48 ;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.input-icon{
  font-size: 18px;
  position: absolute;
  right: 10px;
  margin-top: 17px;
}

.input-icon button i{
  color: rgb(92, 92, 92);
}

.input-icon button {
  background: #F7F7F7;
  border: none;

}


@media (max-width:600px) {
	.card {
		width: 100%;
	}

    img{
        width: 30vw;
        min-width: 120px;
    }
}