.navbar{
    position: fixed;
    top: 0; 
    z-index: 5; 
    margin-bottom: 30px;
    width: 100%;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    background-color:#E92F48;
}

.accordion-button{
    background-color:#E92F48 !important;
    border-radius: 20px !important ;
    border: none;
}

.accordion-button:focus{
    box-shadow: 0px 0px 0px;
    outline: none;
}

.accordion-button::after{
   filter: invert(100%) !important ;
}

.accordion-button:not(.collapsed)::after{
    background-image: var(--bs-accordion-btn-icon);
}

#barra_pesquisa{
    margin-top: 100px;
}

.botao-conta{
    color: white;
    background: #198754;
    border-radius: 5px;
    height: 35px;
    width: 279px;
    border: #198754;
}

.botao-pedido{
    color: white;
    background: #dc3545;
    border-radius: 5px;
    height: 35px;
    width: 279px;
    border:#dc3545;
    
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 12%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    border-radius: 40% 40% 0% 0%;
    box-shadow: 0 0 50px rgba(100, 28, 28, 0.77);
    -webkit-box-shadow: 0 0 50px rgba(82, 10, 10, 0.77);
    margin-top: 20%;
    z-index: 2;

}

footer div{
    margin: 15px;
}

footer ul li {
    list-style: none;
    color: rgb(87, 87, 87);
}

footer ul h4:hover{
    color: #6F0606;
}

nav{
    box-shadow: 0 0 50px rgba(76, 9, 9, 0.548);
    -webkit-box-shadow: 0 0 50px rgba(82, 16, 16, 0.712);
}


