@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.topoSection {
  margin: 0% 8%;
  margin-top: 35px;
  align-items: center;
}

.input-text {
  width: 100%;
  background: rgba(153, 153, 153, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  height: 50px;
  font-size: 17px;
  color: rgb(31, 23, 23);
  padding-left: 40px;
}

.input-text::placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.input-text:focus {
  transition: all 0.2s;
  color: black;
  box-shadow: 0px 0px 0px;
  border-color: #950b1d57;
  outline: none;
}

.inlineIcon {
  position: relative;
}
.inlineIcon i {
  font-size: 22px;
  position: absolute;
  padding: 14px 10px;
  pointer-events: none;
  color: rgb(0, 0, 0);
}

.NovoBtn {
  text-decoration: none;
  margin-top: 22px;
  padding: 9px 55px;
  border-radius: 9px;
  background: #e92f48;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
}

.NovoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  padding: 9px 32px;
  border-radius: 9px;
  background: #e92f48;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
}

a {
  text-decoration: none;
}

.NovoBtn:hover {
  transition: 0.25s;
  transform: scale(1.05);
}

.NovoBtn i {
  margin-right: 3px;
  font-size: 27px;
  font-weight: 800;
  color: white;
}

.cardapio {
  padding: 0 100px;
  max-width: 1500px;
  margin: 0 auto;
}

.cardapio > h1 {
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #e92f48;
}

@media screen and (max-width: 378px) {
  .topoSection .row .col {
    justify-content: center !important;
  }

  .addBtn {
    transform: scale(1, 1.2);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .NovoBtn {
    margin-top: -5px;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .cardapio {
    padding: 0 10px;
  }
}

.cardapio > .containeres > .container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardapio > .containeres > h1 {
  font-weight: 600;
  padding: 5px;
  color: #e92f48;
  margin-top: 20px;
  background: rgb(255, 255, 255);
}

.cardapio > .containeres > .container > .item {
  flex: 1 1 205px;
  color: #fff;
  border-radius: 10px;
  background: #e92f48;
  min-width: 200px;
  min-height: 260px;
  max-width: 260px;
  max-height: 350px;
  margin: 10px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
}

.cardapio > .containeres > .container > .item > .image {
  position: relative;
  height: 60%;
}

.cardapio > .containeres > .container > .item > .image > .edit-delet {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  background-color: #a8503179;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-bottom: 40px;
  border-radius: 10px 10px 0 0;
  transition: 0.4s;
  opacity: 0%;
}

.cardapio > .containeres > .container > .item > .image > .edit-delet:hover {
  opacity: 100%;
}

.cardapio > .containeres > .container > .item > .image > .edit-delet > button {
  background: none;
}

.cardapio
  > .containeres
  > .container
  > .item
  > .image
  > .edit-delet
  > button
  > span {
  font-size: 35px;
  cursor: pointer;
  color: #fff;
}

.cardapio > .containeres > .container > .item > .image > img {
  border-radius: 10px 10px 0 0;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
  position: relative;
}

.cardapio > .containeres > .container > .item > .image > .filtro-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(27, 27, 27, 0.6) 0%,
    rgba(39, 39, 39, 0.2) 45%,
    rgba(255, 255, 255, 0) 100%
  );
}

.cardapio > .containeres > .container > .item > .image > h3 {
  margin: 10px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
}

.cardapio > .containeres > .container > .item > h4 {
  margin: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

.cardapio > .containeres > .container > .item > h2 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  margin: 0;
  text-align: right;
  font-weight: 700;
}

#produtos-inativos .item {
  filter: saturate(45%);
}

#produtos-inativos
  > .item
  > .image
  > .edit-delet
  > button
  > span[content="cansel"] {
  rotate: 45deg;
}
