/* - - - - - - MODALS - - - - - - */

/* Delet */
.modal-delet {
  text-align: center;
}
.modal-delet > span {
  color: #dc3545;
  font-size: 80px;
  margin: 10px auto;
}

/* Edit */
.form-edit > input {
  width: 98%;
  height: 100px;
}

.form-edit > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-edit > input,
.form-edit > div > input,
.form-edit > div > select {
  padding: 10px;
  margin: 5px;
  border-bottom: solid 3px #e92f48;
  border-radius: 5px;
  width: 48%;
  outline: 0;
}

.form-edit > div > textarea {
  padding: 10px;
  margin: 5px;
  outline: 0;
  border-bottom: solid 3px #e92f48;
  border-radius: 5px;
  min-width: 48%;
  max-width: 48%;
  min-height: 50px;
  height: 100px;
  max-height: 200px;
}

/* Input img */
#picture-input {
  display: none;
}

.picture {
  margin: 5px;
  width: 48%;
  aspect-ratio: 16/9;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed #e92f48;
  border-radius: 5px;
  cursor: pointer;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.picture:hover {
  color: #777;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture-img {
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  .form-edit > div {
    flex-direction: column;
  }
  .form-edit > input,
  .form-edit > div > input,
  .form-edit > div > select,
  .form-edit > div > textarea {
    min-width: 100%;
  }
}

/* Add */
.table-products {
  background: #ececec;
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
}

.table-products th {
  color: #fff;
  background-color: #e92f48;
  border-radius: 0 10px 0 0;
  font-weight: 300;
  font-size: medium;
  text-align: left;
  padding: 4px 25px;
}

#colum-1 {
  border-radius: 10px 0 0 0;
  border-right: #ffffff solid 1px;
}

.table-products td {
  border: #d3d3d3 solid 1px;
  padding: 5px 5px;
}

.table-products tr {
  transition: 0.1s;
}
.table-products tr:hover {
  background-color: #ddd;
}
