@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#topSVG {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  max-height: 130px;
  min-height: 120px;
}

#topText {
  white-space: nowrap;
  text-align: center;
  position: fixed;
  z-index: 5;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
  color: #e92f48;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 7px 7px 15px rgba(0, 0, 0, 0.473);
}

.pedido {
  margin-top: 120px !important ;
  margin-bottom: 70px !important ;

  padding: 20px 30px 0 30px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100vh;
}

.pedido > a {
  color: #e92f48;
}

.flavor {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.flavor > h3 {
  color: #636363;
}

.flavor > .search-bar {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.flavor > .search-bar > span {
  cursor: pointer;
}

.flavor > .search-bar > input {
  padding: 5px;
  background: none;
  border-bottom: #636363 solid 2px;
  width: 90%;
  outline: none;
}

.flavor > div {
  display: flex;
}

.flavor > div > .item {
  width: 95%;
  background-color: #dfdfdf;
  border-radius: 10px;
  padding: 15px;
  display: block;
  position: relative;
  margin-bottom: 12px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="number"] {
  padding: 10px;
  width: 5%;
  min-width: 45px;
  max-height: 80px;
  font-size: 15px;
  border-radius: 10px;
  border-bottom: #e92f48 solid 3px;
  margin-bottom: 12px;
  outline: none;
}

.flavor > div > .item > div div {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.flavor > div > .item > div {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.flavor > div > .item > div > .checkmark {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #eee;
}

.flavor > div > .item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.flavor > div > .item:hover input ~ .checkmark {
  background-color: #ccc;
}

.flavor > div > .item input:checked ~ .checkmark {
  background-color: #e92f48;
}

.flavor > div > .item > div > .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.flavor > div > .item input:checked ~ .checkmark:after {
  display: block;
}

.flavor > div > .item .checkmark:after {
  left: 23px;
  top: 20px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.flavor > div > .item > div > h4 {
  margin-left: 10px;
}

form > input[type="submit"] {
  background-color: #e92f48;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  width: 100%;
  margin-top: 30px;
  cursor: pointer;
}
