@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#topSVG {
  width: 100%;
  max-height: 130px;
  min-height: 120px;
}

#topText {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
  color: #e92f48;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerInput {
  width: 100%;
  padding: 0px 20px;
  max-width: 1140px;
}

.input-text {
  background: rgba(153, 153, 153, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  height: 50px;
  font-size: 17px;
  color: rgb(31, 23, 23);
  padding-left: 40px;
}

.input-text::placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.input-text:focus {
  transition: all 0.2s;

  color: black;
  box-shadow: 0px 0px 0px;
  border-color: #950b1d57;
  outline: none;
}

.inlineIcon {
  position: relative;
}
.inlineIcon i {
  font-size: 22px;
  position: absolute;
  padding: 14px 10px;
  pointer-events: none;
  color: rgb(0, 0, 0);
}

.cardapio > .container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardapio > .container > .item {
  flex: 1 1 300px;
  color: #fff;
  border-radius: 10px;
  background: #e92f48;

  max-width: 350px;
  max-height: 200px;

  min-width: none;
  min-height: 150px;

  margin: 10px;
}

.cardapio > .container > .item:hover {
  transition: 0.3s;
  filter: drop-shadow(1px 1px 7px rgba(0, 0, 0, 0.678));
  transform: scale(1.01);
}

.cardapio > .container > .item > a > div {
  background-color: #e92f48;
  height: auto;
  width: 100%;
  padding: auto;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.cardapio > .container > .item > a > img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 82%;
}

a {
  text-decoration: none;
  text-align: center;
  color: white;
}

a:hover {
  color: white;
}

@media screen and (max-width: 295px) {
  .container {
    margin-top: 0;
    transform: scale(0.9);
  }
}
