@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.btn {
  padding: 10px;
  margin: 10px;
  background-color: #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
}

.cardapio {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1500px;
  margin: 0 auto;
}

.cardapio > h1 {
  margin: 20px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #e92f48;
}

.cardapio > .bar {
  display: flex;
}

.cardapio > .bar > .search-bar {
  border: solid 2px #e92f48;
  border-radius: 15px;
  height: 60px;
  width: 80%;
  display: flex;
  align-items: center;
}

.cardapio > .bar > .search-bar > #txt-search {
  background: none;
  padding: 10px;
  border: none;
  font-size: 15px;
  outline: 0;
}

.cardapio > .bar > .search-bar > .material-symbols-outlined {
  font-size: 35px;
  margin: 5px;
  cursor: pointer;
}

.cardapio > .bar > .add-bar {
  background-color: #34a323;
  color: #fff;
  border-radius: 15px;
  height: auto;
  width: 20%;
  min-width: 30px;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.cardapio > .bar > .add-bar:hover {
  background-color: #74b969;
}

@media screen and (max-width: 500px) {
  .cardapio > .bar > .add-bar > h3 {
    display: none;
  }
}
.cardapio > .container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardapio > .container > .item {
  flex: 1 1 200px;
  color: #fff;
  border-radius: 10px;
  background: #e92f48;
  min-width: 200px;
  min-height: 260px;
  max-width: 260px;
  max-height: 300px;
  margin: 10px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
}

.cardapio > .container > .item > .image {
  position: relative;
  height: 60%;
}

.cardapio > .container > .item > .image > .edit-delet {
  position: absolute;
  background-color: #a8503179;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  text-align: right;
  transition: 0.4s;
  opacity: 0%;
}

.cardapio > .container > .item > .image > .edit-delet:hover {
  opacity: 100%;
}

.cardapio > .container > .item > .image > .edit-delet > span {
  padding: 5px;
  cursor: pointer;
}

.cardapio > .container > .item > .image > img {
  border-radius: 10px 10px 0 0;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.cardapio > .container > .item > .image > h3 {
  margin: 10px;
  font-weight: 500;
  position: relative;
  top: -45px;
}

.cardapio > .container > .item > h4 {
  margin: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.cardapio > .container > .item > h2 {
  padding: 10px;
  text-align: right;
}
