footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 50px rgba(100, 28, 28, 0.77);
    -webkit-box-shadow: 0 0 50px rgba(82, 10, 10, 0.77);
    margin-top: 20%;
}





nav{
    position: fixed;
    top: 0;
    box-shadow: 0 0 20px rgba(76, 9, 9, 0.548);
    -webkit-box-shadow: 0 0 20px rgba(82, 16, 16, 0.712);
    display: block;
}

/* Botões e Input */
 input[type="number"] {
      -webkit-appearance: textfield;
         -moz-appearance: textfield;
              appearance: textfield;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
    }
    
    input[type="number"]{
    outline:none;
    height: 20px;
    padding:1%;
    }

    
    input, button {
        font-size: inherit;
        padding: 0.2em;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    button{
    height:20px;
    padding:1%;
    background-color: white;
    font-weight: bold;
    padding-left:2%;
    padding-right:2%;
    outline:none;
    cursor: pointer;
    
    }
 



