@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}

.form-control {
  border: none;
  border-bottom: #e92f48 solid 3px;
  background: #f7f7f7;
}

.form-control:focus {
  border-color: #e92f48;
  box-shadow: none;
  outline: none;
}

.table {
  transform: scale(1.02);
}

.topoSection {
  margin: 0% 8%;
  margin-top: 35px;
  align-items: center;
}

h1 {
  font-size: 40px;
  color: #e92f48;
  font-weight: bold;
}

.input-text {
  width: 100%;
  background: rgba(153, 153, 153, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  height: 50px;
  font-size: 17px;
  color: rgb(31, 23, 23);
  padding-left: 40px;
}

.input-text::placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.input-text:focus {
  transition: all 0.2s;
  color: black;
  box-shadow: 0px 0px 0px;
  border-color: #950b1d57;
  outline: none;
}

.inlineIcon {
  position: relative;
}
.inlineIcon i {
  font-size: 22px;
  position: absolute;
  padding: 14px 10px;
  pointer-events: none;
  color: rgb(0, 0, 0);
}

.NovoBtn {
  text-decoration: none;
  margin-top: 22px;
  padding: 9px 55px;
  border-radius: 9px;
  background: #e92f48;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
}

.NovoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  padding: 9px 32px;
  border-radius: 9px;
  background: #e92f48;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
}

a {
  text-decoration: none;
}

.NovoBtn:hover {
  transition: 0.25s;
  transform: scale(1.05);
}

.NovoBtn i {
  margin-right: 3px;
  font-size: 27px;
  font-weight: 800;
  color: white;
}

.sec3 {
  margin: 0% 8%;
  padding: 2%;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}

table td,
table th {
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

thead tr th {
  color: #2f2f2f;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
}

tbody tr {
  color: #2f2f2f;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

/* thead tr th:first-child{
  width: 20% !important;
}

thead tr th:nth-child(2){
  width: 20% !important;
}

thead tr th:nth-child(3){
  width: 20% !important;
}

thead tr th:nth-child(4){
  width: 20% !important;
}

thead tr th:nth-child(5){
  width: 20% !important;
} */

.toggle {
  transform: scale(1);
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ee455c;
  border-radius: 16px;
  width: 90px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch p {
  display: flex;
  margin-top: 7px;
  margin-left: 32px;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  transition: 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #2dc469;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 62px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.tableBtn {
  padding: 4px 15px;
  border-radius: 5px;
  transition: 0.25s;
}

.tableBtnEditar {
  background-color: #ee455c;
}

.tableBtnConfirmar {
  background-color: #2abe25;
}

.tableBtnConfirmar:hover {
  background-color: #18a014;
  transform: scale(1.1);
}

.tableBtnEditar:hover {
  background-color: #d3364b;
  transform: scale(1.1);
}

.tableBtn i {
  font-size: 20px;
  color: #fff;
  display: flex;
  align-self: center;
}

@media screen and (max-width: 378px) {
  .topoSection .row .col {
    justify-content: center !important;
  }

  .addBtn {
    transform: scale(1, 1.2);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .NovoBtn {
    margin-top: -5px;
    width: 100%;
  }
}

.inputTest {
  color: #2f2f2f;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  background-color: #eeeeee;
  width: 70px;
  height: 30px !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.t-modal .modal-content {
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.38);
  border-radius: 10px;
  padding: 10px 35px;
}

.t-modal .modal-header {
  border-bottom: none;
  padding-top: 25px;
}

.t-modal .modal-header div .btn-close {
  position: absolute !important;
  top: 40px;
  right: 40px;
}

.t-modal .modal-footer .btn:focus,
.btn-primary:focus,
.btn-secondary:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.t-modal .modal-footer .btn-primary:hover {
  transition: 0.25s;
  transform: scale(1.03);
}

.t-modal .modal-footer .btn-primary {
  background-color: #e92f48;
  border: none;
  padding: 10px;
}

.t-modal .modal-header div .btn-close:focus {
  outline: none;
  box-shadow: none;
}

.t-modal .modal-header .modal-title {
  font-weight: 700;
  font-size: 26px !important;
  color: #e92f48;
}

.t-modal .modal-footer {
  border-top: none;
}

/* MODAL DELET */
.modal-delet {
  text-align: center;
}
.modal-delet > span {
  color: #dc3545;
  font-size: 80px;
  margin: 10px auto;
}

/* MODAL EDIT */
#form-editar div select {
  height: calc(3.5rem + 2px);
  border: none;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border-bottom: #e92f48 solid 3px;
  background: #f7f7f7;
}

#form-editar button {
  background-color: #e92f48;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 1.2rem;
}



/* select */
.nice-select {
  height: 57.99px;
  /* altura do select */
  line-height: 57.99px;
  /* este valor deve ser o mesmo acima */
  border: none;
  /* cor da borda do select*/
  border-bottom: #e92f48 solid 5px;
  -webkit-tap-highlight-color: transparent;
  background-color: #f7f7f7;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  outline: none;
  padding-left: 10px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  border-radius: 5px 0px 0px 5px !important;
}

.nice-select:hover {
  border-color: #e92f48;
  /* cor da borda do select ao passar o mouse */
}

.nice-select:after {
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  content: "";
  display: block;
  height: 9px;
  width: 9px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  background-color: #f7f7f7;
  border-color: #e01c36;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: rgb(163, 163, 163);
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: white;
  border-radius: 0px 0px 20px 20px !important;
  box-shadow: 0 0 0 1px rgb(212, 211, 211);
  /* cor da borda dos options em RGB */
  box-sizing: border-box;
  margin-top: 1.5px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  padding: 20px;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
    opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .option {
  border: rgba(119, 119, 119, 0.377) 0.5px solid;
  border-radius: 15px;
  background-color: #f7f7f7;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-weight: 300;
  line-height: 30px;
  /* altura das options */
  min-height: 30px;
  /* este valor deve ser o mesmo do acima */
  list-style: none;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.option:hover {
  background-color: #e92f48 !important;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #e92f48;
  /* corde fundo da option selecionada e ao passar o mouse */
  color: rgb(255, 255, 255);
  /* cor da option ao passar o mouse e do item selecionado*/
}

.nice-select .option.selected {
  font-weight: 500;
  background-color: #f7f7f7;
  color: #000;
}

.nice-select .option.disabled {
  background-color: #dbd8d8;
  color: #000;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}
